#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#movie-container {
  margin-top: 30px;
}

#movie-name {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

#about-me {
  display: flex;
  flex-direction: column;
}

#comments {
  background: lightyellow;
  border-color: lightgray;
  border-style: outset;
  border-width: 2px;
  padding: 10px;
  width: 500px;
}

#comment-container {
  margin-top: 20px;
  padding-top: 10px;
}

.comment-text {
  background-color: rgb(255, 255, 210);
  margin: 10px;
  padding: 10px;
}

.section-header {
  font-size: 20px;
  padding-bottom: 10px;
}

.images {
  width: 400px;
}
