#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#movie-container {
  margin-top: 30px;
}

#movie-name {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

#about-me {
  display: flex;
  flex-direction: column;
}

#comments {
  background: lightyellow;
  border-color: lightgray;
  border-style: outset;
  border-width: 2px;
  height: 200px;
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  width: 500px;
}

.comment-input {
  width: 500px;
}

.comment-container {
  padding: 10px 0;
}

.comment-text {
  padding: 0 10px;
}

.comment-time {
  color: darkgray;
  padding-left: 10px;
}

.section-header {
  font-size: 20px;
  padding-bottom: 10px;
}

.images {
  width: 400px;
}
